.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: var(--main-white);
  border-radius: 15px;
}

.btn {
  border: none;
  background-color: inherit;
  color: var(--main);
}

.btn:hover {
  color: var(--main-inherit);
}
