.list {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  margin: 0 auto;
  padding: 24px 0 24px 0;
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  border-radius: 30px;
  width: calc((100% - 6 * 21px) / 8);
}
