/* .titleAdd{
  
font-weight: 700;
font-size: 20px;
line-height: 1.2;
letter-spacing: -0.01em;
color: #323f47;
margin-bottom: 24px;
  }
  @media (min-width:375px) {
    .titleAdd{
font-size: 28px;
line-height: 1.14286;
    }
    
  } */
/* .titleAmount{
   
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.01em;
    color: #2f2f2f;
    margin-bottom: 5px;
  }
  .amauntWraper{
    border-radius: 30px;
    padding: 11px 20px;
    width: 89px;
    height: 40px;
   
    background: #323f47;

   
  } */
/* .wraperText{
  
      font-weight: 700;
      font-size: 14px;
      line-height: 1.28571;
      color: #fff;
    }
    .amauntBox{
      display: flex;
      gap:5px;
      margin-bottom: 24px;
    }
  .btnMinus{
    width: 40px;
    border-radius: 50%;
border: 1.50px solid #323f47;
  } */
/* .labelRecord{
 
font-weight: 400;
font-size: 14px;
line-height: 1.28571;
letter-spacing: -0.01em;
color: #2f2f2f;
margin-bottom: 5px;
  }
  .titleShoose{
  
font-weight: 700;
font-size: 15px;
line-height: 1.25;

color: #323f47;
  } */
/* .labelEnter{
  
font-weight: 700;
font-size: 15px;
line-height: 1.25;
letter-spacing: -0.01em;

color: #323f47;
margin-bottom: 5px;
  }
  .btnSave{
    border: none;
    border-radius: 30px;
padding: 14px 40px;
width: 116px;
height: 46px;
background: #9be1a0;
  }
  .btnSave span{
 
font-weight: 700;
font-size: 14px;
line-height: 1.28571;
letter-spacing: -0.01em;
text-align: center;
color: #323f47;
  } */

/* =========== */

.waterForm {
  width: 343px;
  height: 490px;
  /* padding: 40px 20px;
  background-color: var(--background); */
  border-radius: 30px;
}
.formWrapper {
  position: relative;
}
.waterTitle {
  color: var(--main-text);

  font-size: 16px;
  font-weight: var(--bold);
  line-height: 1.25;
  letter-spacing: -0.16px;
  margin-bottom: 20px;
}

.waterAmount {
  color: var(--main);

  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.14px;
  margin-bottom: 8px;
  display: inline-block;
}

.wrapperAmount {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}

.btnAmount {
  background-color: transparent;
  border: none;
  padding: 0;
  height: 40px;
}

.btnAmount svg {
  width: 100%;
  height: 100%;
}

.btnAmount:disabled svg path,
.btnAmount:disabled svg rect {
  stroke: #323f4750;
}

.valueAmount {
  padding: 11px 20px;
  height: 40px;
  background-color: var(--main);
  border-radius: 30px;

  color: var(--main-white);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.28;
}

.wrapperField {
  display: flex;
  flex-direction: column;
}

.labelTime {
  color: var(--main-text);

  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.14px;
  margin-bottom: 8px;
}

.inputAmount {
  border-radius: 15px;
  border: 1px solid rgba(47, 47, 47, 0.15);
  width: 100%;
  max-width: 375px;
  padding: 14px 16px;
  margin-bottom: 24px;

  color: var(--main-text);
  font-size: 14px;
  line-height: 1.25;
  letter-spacing: -0.14px;
}

.labelValue {
  color: var(--main-text);

  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -0.16px;
  margin-bottom: 8px;
}

.btnSubmit {
  width: 116px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: none;
  background-color: var(--accent);

  color: var(--main);
  font-size: 14px;
  font-weight: var(--bold);
  line-height: 1.28;
  letter-spacing: -0.14px;

  transition: var(--animation);
}

.btnSubmit:hover {
  background-color: var(--hover);
}

.error {
  position: absolute;
  color: var(--error);
  font-size: 12px;
  top: 376px;
  left: 26px;
}

@media screen and (min-width: 768px) {
  .waterForm {
    width: 518px;
    height: 587px;
  }
  .waterTitle {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.18px;
  }

  .waterAmount {
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: -0.16px;
  }

  .btnAmount {
    width: 43px;
    height: 43px;
  }

  .valueAmount {
    height: 43px;
    font-size: 15px;
    line-height: 1.49;
  }

  .labelTime {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.16px;
  }

  .inputAmount {
    max-width: 438px;
    padding: 16px;
    margin-bottom: 24px;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.16px;
  }

  .labelValue {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.18px;
  }

  .btnSubmit {
    padding: 18px 50px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.16;
  }
}
