
.Modal {
  position: absolute;
margin: 60px auto;
border-radius: 15px;
padding: 40px 20px;
width: 344px;
height: 267px;
box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
background: #fff;
/* justify-content: center; */
/* display: flex; */
/* flex-direction: column; */
/* flex-wrap: wrap; */
inset: inherit;
overflow: auto;
outline: none;

}

.modalSetting {
  composes: Modal;
  /* height: 1302px; */
  height: 100%;
}

.btnDelete{
position: absolute;
top:14px;
right: 14px;
width: 24px;
height: 24px;
border: none;
background: inherit;
}
.modalSetting {
composes: Modal;
height: 267px;
/* height: 1302px; */



}
}


@media (min-width: 375px) {
 
  
  .modalDelete {
    composes: Modal;
    margin: auto;
    padding: 40px 14px;
    width: 344px;
    height: 267px;
  }
  .modalLogOut {
    composes: Modal;
    margin: auto;
    padding: 40px 14px;
    width: 344px;
    height: 267px;
  }
}

@media (min-width: 375px) and (max-width: 767.9px) {
 
  .modalSetting {
    composes: Modal;
    margin: 40px auto;
    padding: 40px;
    width: 648px;
    /* height: 1336px; */
    height: 100%;
  }
  
}

@media (min-width: 768px) {

  .modalSetting {
    /* composes: Modal; */
    margin: 40px auto;
    padding: 40px;
    width: 648px;
    height: 100%;
  }
  .Modal{
    margin: auto;
    padding: 40px;
    width: 516px;
    height: 244px;
    
 
  
 

  }
  .modalDelete {
    composes: Modal;
    margin: auto;
    padding: 40px 14px;
    width: 516px;
    height: 244px;
  }
  .modalLogOut {
    composes: Modal;
    margin: auto;
    padding: 40px 14px;
    width: 516px;
    height: 244px;
  }
}

@media screen and (min-width: 1440px) {
  
 
  .modalDelete {
    composes: Modal;
    padding: 40px;
    width: 516px;
    height: 244px;
  

}
@media (min-width: 1440px)  {
.modalSetting {
  /* composes: Modal; */
  /* margin: 40px auto; */
  /* padding: 40px; */
  width: 920px;
  /* height: 996px; */
}
 
}