/* Modal styles */
.Modal {
  margin: 60px auto;
  border-radius: 15px;
  padding: 40px 20px;
  width: 300px;
  height: 520px;
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  inset: inherit;
  overflow: auto;
  outline: none;
}

.modalSetting {
  composes: Modal;
  /* height: 1302px; */
  height: 100%;
}

/*.overlay {
  background-color: rgba(100, 100, 100, 0.55);
}*/

.closeBtn {
  width: 22px;
  height: 22px;
  border: none;
  background: inherit;
  position: absolute;
  top: 14px;
  right: 14px;
}
@media screen and (min-width: 320px) and (max-width: 375.9px) {
  
  .modalDelete {
    composes: Modal;
    padding: 40px 14px;
    width: 344px;
    height: 267px;
  }

  .modalLogOut {
  composes: Modal;
  margin: auto;
  padding: 40px 14px;
  width: 344px;
  height: 267px
}
}


@media (min-width: 375px) {
 
  
  .modalDelete {
    composes: Modal;
    margin: auto;
    padding: 40px 14px;
    width: 344px;
    height: 267px;
  }
  .modalLogOut {
    composes: Modal;
    margin: auto;
    padding: 40px 14px;
    width: 344px;
    height: 267px;
  }
}

@media (min-width: 375px) and (max-width: 767.9px) {
 
  .modalSetting {
    composes: Modal;
    margin: 40px auto;
    padding: 40px;
    width: 648px;
    /* height: 1336px; */
    height: 100%;
  }
  
}

@media (min-width: 768px) {
 
  
  .modalSetting {
    composes: Modal;
    margin: 40px auto;
    padding: 40px;
    width: 920px;
    height: 996px;
  }
  .modalDelete {
    composes: Modal;
    margin: auto;
    padding: 40px 14px;
    width: 516px;
    height: 244px;
  }
  .modalLogOut {
    composes: Modal;
    margin: auto;
    padding: 40px 14px;
    width: 516px;
    height: 244px;
  }
}

@media screen and (min-width: 1440px) {
  
 
  .modalDelete {
    composes: Modal;
    padding: 40px;
    width: 516px;
    height: 244px;
  }
  .modalLogOut {
    composes: Modal;
    margin: auto;
    padding: 40px 14px;
    width: 516px;
    height: 244px;
  }
}