.container {
  max-width: 375px;
  margin: 0 auto;
  overflow-x: hidden;
}

.section {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  height: 780px;
  background: var(--background);
  margin: 16px;
}

.logo {
  margin-top: 24px;
  margin-left: 16px;
}

.title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.01em;
  color: var(--main);
  margin-top: 172px;
  margin-left: 16px;
  margin-bottom: 32px;
}

.item {
  display: flex;
  flex-direction: column;
}

.input {
  border: 1px solid rgba(47, 47, 47, 0.2);
  border-radius: 15px;
  padding: 16px 0 16px 16px;
  height: 50px;
  margin: 0 16px 16px;
}

.inputTwo {
  border: 1px solid rgba(47, 47, 47, 0.2);
  border-radius: 15px;
  padding: 16px 0px 16px 16px;
  height: 50px;
  margin: 0 16px 32px 16px;
}

.label {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  color: var(--main-text);
  margin-left: 16px;
  margin-bottom: 8px;
}

.errorInput {
  border: 1px solid red;
  border-radius: 15px;
  padding: 16px 0 16px 16px;
  height: 50px;
  margin: 0 16px;
  color: red;
}

.error {
  margin-left: 16px;
  color: red;
  margin: 7px 0 10px 16px;
  font-size: 14px;
}

.eyes {
  display: none;
}

.btn {
  border-radius: 30px;
  padding: 16px 0;
  width: 90%;
  height: 50px;
  background: var(--accent);
  margin-left: 16px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--main);
  margin-bottom: 16px;
}

.btn:hover {
  background-color: #87d28d;
}

.btn:focus {
  background-color: #e6e6e6;
  color: #bcbcbc;
}

.text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  color: rgba(47, 47, 47, 0.5);
  text-align: center;
}

.link {
  font-weight: 700;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--main-text);
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .section {
    height: 960px;
    margin: 32px;
  }

  .logo {
    margin-top: 32px;
    margin-left: 32px;
  }

  .title {
    font-size: 36px;
    line-height: 106%;
    margin-top: 281px;
    margin-left: 134px;
  }

  .input {
    width: 436px;
    height: 56px;
    margin-left: 134px;
    margin-right: 0;
  }

  .inputTwo {
    width: 436px;
    height: 56px;
    margin-left: 134px;
    margin-right: 0;
  }

  .label {
    font-size: 16px;
    line-height: 150%;
    margin-left: 134px;
  }

  .cont {
    display: flex;
    align-items: baseline;
  }

  .eyes {
    display: block;
  }

  .errorInput {
    width: 436px;
    height: 56px;
    margin-left: 134px;
    margin-right: 0;
  }

  .error {
    margin-left: 134px;
    font-size: 14px;
  }

  .btn {
    width: 436px;
    height: 60x;
    margin-left: 134px;
    font-size: 16px;
    margin-bottom: 16px;
  }

  .text {
    font-size: 16px;
    line-height: 159%;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }

  .section {
    width: 672px;
    height: 736px;
  }

  .logo {
    margin-top: 32px;
    margin-left: 32px;
  }

  .title {
    margin-top: 169px;
    margin-left: 118px;
  }

  .input {
    margin-left: 118px;
    margin-right: 0;
  }

  .inputTwo {
    margin-left: 118px;
    margin-right: 0;
  }

  .label {
    margin-left: 118px;
  }

  .cont {
    display: flex;
    align-items: baseline;
  }

  .eyes {
    display: block;
  }

  .errorInput {
    margin-left: 118px;
    margin-right: 0;
  }

  .error {
    margin-left: 118px;
    font-size: 14px;
  }

  .btn {
    margin-left: 118px;
    margin-bottom: 16px;
  }
}
